/* Stylize the HTML elements with same CSS rule with unique class names */
.first, .second {
    font-size: 28px;
    font: Helvetica, "Times New Roman", sans-serif;
}

/* Add a CSS Rule for the first element unique to the second element */
.first {
    color:white;
    background-color: black;
}

/* Add a CSS rule for the second element unique to the first element */
.second {
    background-color: yellow;
}
